body {
  background-color: aqua;
}
.headerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.iframeDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}